/* ..........HOME PAGE MEDIA QUARRY STARTS HERE */
@media only screen and (max-width: 799px) {
  /* Header Section CSS Starts */
  #header {
    padding: 0px 20px;
  }
  #nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    padding: 80px 0px 0px 10px;
    transition: 1s ease-in-out;
  }
  #nav.active {
    right: 0px;
  }
  .nav-li {
    margin-bottom: 20px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #0fb1a6;
    font-size: 25px;
    padding: 0px 10px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 50px;
    left: 30px;
    color: #0fb1a6;
    font-size: 25px;
  }
  .bag {
    display: none;
  }
  /* Header Section CSS Ends */

  /* Hero Section CSS Starts */
  #hero {
    background-image: url(./home-img/hero.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .hero-text {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .hero-text h4,
  .hero-text h3,
  .hero-text p,
  .hero-text h1 {
    font-weight: 900;
    padding: 0px 10px;
  }
  .btn {
    text-align: center;
    margin: 5px 10px;
  }
  .hero-img {
    display: none;
  }
  /* Hero Section CSS Ends*/

  /* Features Section CSS Starts */
  #features {
    height: auto;
    width: 90%;
  }
  .box {
    width: 40%;
    flex-wrap: wrap;
    margin: 10px auto;
  }
  .box img {
    width: 100%;
    height: auto;
  }
  .product-1 {
    height: auto;
    width: 90%;
  }
  .feature-box-container {
    width: 100%;
    height: auto;
  }
  .product-box {
    width: 45%;
    height: auto;
    margin: 10px auto;
    flex-wrap: wrap;
  }
  /* Features Section CSS Ends */

  /* Banner Section CSS Starts */
  .banner,
  .banner1 {
    height: 120px;
    width: 90%;
  }
  /* Banner Section CSS Ends */

  /* News Section CSS Starts */
  .news {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  .news-text {
    width: 90%;
    height: auto;
    margin: 0px auto;
    padding: 10px 0px;
  }
  .input {
    width: 90%;
    height: auto;
    margin: 0px auto;
    padding: 10px 0px;
    text-align: center;
  }
  .input input {
    width: 60%;
    height: 40px;
  }
  /* News Section CSS Ends */

  /* Footer Section CSS Starts */
  .footer {
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    text-align: center;
  }

  .box1 {
    height: auto;
    width: 45%;
    margin: 10px auto;
  }
  .box1 h2 {
    font-size: 20px;
  }
  .box1 p {
    font-size: 15px;
  }
  .box1 p a {
    font-size: 15px;
  }
  /* Footer Section CSS Ends */

  /* Copy Right Section CSS starts */
  .copy {
    width: 100%;
    font-size: 15px;
    height: auto;
  }
  /* Copy Right Section CSS Ends */
}
/* HOME PAGE MEDIA QUARRY ENDS HERE.................. */

/* ..................ABOUT PAGE MEDIA QUARRY STARTS HERE */
@media only screen and (max-width: 799px) {
  /* About Section CSS Starts */
  #about {
    width: 100%;
    height: 150px;
    margin: 5px 0px;
  }
  .about-container {
    width: 100%;
    height: auto;
  }
  /* About Section CSS Ends */

  /* Who Section CSS Starts */
  .who {
    width: 90%;
    height: auto;
    background-color: #f1f1f1;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 2px 2px 20px rgb(34, 32, 32);
  }
  .about-img {
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
  }
  .about-text {
    width: 90%;
    height: auto;
    margin: 10px 0px;
  }
  /* Who Section CSS Ends */

  /* Download Section CSS Starts */
  .download {
    width: 100%;
    height: 400px;
  }
  .download-box {
    width: 50%;
    height: 390px;
  }
  .download-box h1 {
    font-size: 20px;
  }
  /* Download Section CSS Ends */
}
/* ABOUT PAGE MEDIA QUARRY ENDS HERE.................. */

/* ...........SHOP PAGE MEDIA QUARRY STARTS HERE */
@media only screen and (max-width: 799px) {
  /* Product Details Section CSS Starts */
  #shop {
    width: 100%;
    height: 150px;
    margin: 5px 0px;
  }
  .shop-container {
    width: 100%;
    height: auto;
  }
  .product-details {
    width: 90%;
    height: auto;
  }
  .img-section {
    width: 100%;
    height: auto;
  }
  .details-section {
    width: 100%;
    height: auto;
    padding: 5px 10px;
  }
  #big-img,
  .small-img-group,
  .small-img {
    width: 100%;
    height: auto;
  }
  .details-section p,
  .details-section h4:nth-of-type(2) {
    display: none;
  }
  .details-section h4 {
    font-size: 15px;
    padding: 5px;
  }
  .details-section h2 {
    font-size: 16px;
    padding: 5px;
  }
  .details-section h1 {
    font-size: 22px;
    padding: 5px;
  }
  .details-section select,
  .details-section input {
    font-size: 16px;
    padding: 5px;
    height: 30px;
  }
  .details-section option {
    font-size: 12px;
  }
  .details-section button {
    font-size: 15px;
    margin: 10px 0;
    padding: 5px;
  }
  /* Product Details Section CSS Ends */
}
/* SHOP PAGE MEDIA QUARRY ENDS HERE.................. */

/* ...........BLOG PAGE CSS STARTS */
@media only screen and (max-width: 799px) {
  #blog {
    width: 100%;
    height: 150px;
    margin: 5px 0px;
  }
  .blog-container {
    width: 100%;
    height: auto;
    margin: 0px auto;
  }
  .feed-container{
    width: 80%;
    height: auto;
    margin: 20px auto;
  }
  .feeds{
    width: 90%;
    height: auto;
    flex-direction: column;
  }
  .blog-img{
    margin: 10px auto;
    width: 60%;
    height: auto;
  }
  .blog-text{
    width: 100%;
    height: auto;
    text-align: left;
    padding: 5px 0px;
  }
  .blog-text h2{
    padding: 5px 0px;
  }
  .blog-text h3{
    padding: 5px 0px;
  }
  .blog-text p{
    padding: 5px 0px;
    color: #474748;
  }
 }
/*BLOG PAGE CSS ENDS............. */
