/* Reset CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}
/* ................Home Paage CSS starts*/
/* Header CSS starts */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.logo {
  font-size: 34px;
  font-weight: 600;
}

.logo span:first-of-type {
  padding: 0px 15px;
  border: 1px solid #ddd;
  margin-right: 5px;
  color: #0fb1a6;
}

/* Header CSS Ends */

/* Nav CSS Starts */

.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-link {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  transition: 1s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #0fb1a6;
}
.mobile-nav {
  display: none;
}
.bar-icon[name="close"] {
  display: none;
}
/* icons */

/* Nav CSS Ends */

/* Hero CSS Starts */
#hero {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}

.hero-text {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

.hero-text h4 {
  padding: 5px 0px;
  color: red;
  font-size: 25px;
}

.hero-text h3 {
  padding: 5px 0px;
  font-size: 30px;
}

.hero-text h1 {
  padding: 5px 0px;
  font-size: 35px;
  color: #0fb1a6;
}

.hero-text p {
  padding: 10px 0px;
  font-size: 20px;
}

.btn {
  padding: 10px;
  border-radius: 6px;
  background-color: #0fb1a6;
  font-size: 18px;
  margin-top: 5px;
  border: none;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  color: red;
  background-color: #f0f5fc;
  border: 2px solid rgba(0, 0, 0, 0.623);
}

.btn i {
  padding-left: 3px;
}

.hero-img {
  width: 50%;
  height: 100%;
}

.hero-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* Hero CSS Ends */

/* Features CSS Starts */
#features {
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.box {
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.466);
  text-align: center;
  width: 15%;
  height: auto;
  background-color: #e0f2fa;
  border-radius: 10px;
  transition: transform 1s ease-in-out;
}

.box:hover {
  transform: rotateZ(10deg);
}

.box i {
  color: #0fb1a6;
  font-size: 30px;
  padding: 10px;
}

.box h1 {
  font-size: 18px;
  padding: 10px;
}

/* Features CSS Ends */

/* Product CSS Starts */
.product-1 {
  width: 90%;
  margin: 10px auto;
  height: 750px;
  text-transform: capitalize;
}

.product-1 h1 {
  text-align: center;
  color: #0fb1a6;
  font-size: 30px;
  font-weight: 700;
  padding: 2px 0px;
}

.product-1 p {
  text-align: center;
  color: black;
  font-size: 20px;
}

.feature-box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px auto;
  height: 650px;
  flex-wrap: wrap;
}

.product-box {
  width: 22%;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  padding: 0px 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  transition: transform 1s ease-in-out;
}

.product-box:hover {
  transform: scale(1.03);
}

.product-box img {
  width: 100%;
  margin: 0px auto;
  height: 200px;
  object-fit: contain;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.price {
  color: #474444;
  padding: 2px 0px;
  font-size: 20px;
  color: red;
  font-weight: 600;
}

.product-box h4 {
  padding: 2px 0px;
}

.star {
  color: yellow;
  padding: 2px 0px;
}

.icon {
  padding: 0px 15px;
  color: #0fb1a6;
  float: right;
  font-size: 20px;
}

/* Product CSS Ends */

/* Banner CSS Starts */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin: 20px auto;
  height: 250px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  background-color: #6dcbf3;
}

.banner img {
  width: 40%;
  height: 100%;
  object-fit: contain;
}

/* Banner CSS Ends */

/* Newsseleter CSS Starts */
.news {
  width: 100%;
  background-color: #000;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 0px 70px;
  margin-bottom: 20px;
}

.news-text {
  width: 50%;
  color: white;
}

.news-text h2 {
  font-size: 25px;
  padding: 2px 0px;
}

.news-text p {
  font-size: 20px;
}

.news-text span {
  color: red;
}

.input {
  width: 50%;
  text-align: right;
}

.input input {
  height: 40px;
  width: 350px;
  padding: 0px 3px;
  border-radius: 7px;
  outline: none;
  border: none;
}

/* Newsseleter CSS Ends */

/* Footer CSS Starts */
.footer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 280px;
  margin: 0px auto;
}

.box1 {
  width: 23%;
  padding: 5px 10px;
  border-radius: 10px;
  height: 230px;
  text-transform: capitalize;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
  transition: transform 1s ease-in-out;
}

.box1:hover {
  transform: scale(1.05);
}

.box1 h2 {
  padding: 2px 0px;
}

.box1 i {
  color: #0fb1a6;
  padding: 5px 4px;
  font-size: 15px;
}

.box1 p {
  padding: 5px 0px;
}

.box1 p a {
  color: black;
  font-size: 16px;
}

.box1 img {
  margin: 5px 1px;
  width: 40%;
  height: 40px;
  object-fit: contain;
}

.box1 .paymode {
  width: 90%;
  height: 40px;
  object-fit: contain;
}

/* Footer CSS Ends */

/* Copyright CSS Starts */
.copy {
  width: 100%;
  background-color: black;
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0px;
  text-transform: capitalize;
}
/* Copyright CSS Ends */

/* Top Icon */
.top i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #0fb1a6;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 999;
  border-radius: 50%;
  text-align: center;
  color: #f1f1f1;
  font-size: 25px;
}
/* hembagur */
#mobile,
#close {
  display: none;
}
/* Home Page CSS Ends........... */

/* ..........About Page Css Starts */
/* About Section Css Starts */
#about {
  background-image: url(./home-img/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  margin-top: 20px;
}

.about-container {
  text-transform: capitalize;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}

.about-container h1 {
  font-size: 30px;
  padding: 10px 0px;
}
.about-container p {
  font-size: 18px;
}
/* About Section CSS Ends */

/* Who Section CSS Starts */
.who {
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.about-img,
.about-text {
  width: 50%;
  height: 300px;
  overflow: hidden;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-text h1 {
  padding: 5px 10px;
  font-size: 30px;
}
.about-text p {
  padding: 5px 10px;
  line-height: 25px;
  text-align: justify;
  font-size: 17px;
}
.about-text marquee {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  text-transform: capitalize;
  background-color: #ccc;
}
/* Who Section CSS Ends */

/* Video Section CSS Starts */
.download {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa2a2;
}

.download-box {
  width: 50%;
  height: 400px;
  margin: 0px auto;
  border-radius: 20px;
}

.download-box h1 {
  text-align: center;
  padding: 10px 0px;
  text-transform: capitalize;
  font-size: 30px;
}

.download-box video {
  width: 100%;
  height: 84%;
  text-align: center;
  border-radius: 20px;
  object-fit: cover;
}
/* Video Section CSS Ends */
/* About Page Css Ends............... */

/* ..................Shop Page CSS Starts */
/* Shop Section CSS Starts */
#shop {
  background-image: url(./home-img/b1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  margin-top: 20px;
}

.shop-container {
  text-align: center;
  text-transform: capitalize;
  color: white;
  letter-spacing: 1px;
}

.shop-container h1 {
  font-size: 30px;
  padding: 10px 0px;
}

.shop-container p {
  font-size: 18px;
}
/* Shop Section CSS Ends */
/* Pagination Section CSS Starts */
#box2,
#box3,
#box4,
#box5,
#box6,
#box7 {
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.pagination button {
  margin: 0px 10px;
}
/* Pagination Section CSS Ends */
/* Shop Page CSS Ends............ */

/* ........Shop Single Product Page CSS Starts */
.product-details {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px auto;
  height: 500px;
}

.img-section {
  width: 50%;
  height: 100%;
}

#big-img {
  width: 100%;
  height: 280px;
  object-fit: contain;
  background-color: #edeaea;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.small-img {
  flex-basis: 24%;
  background-color: #edeaea;
  margin-top: 20px;
}

.small-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: contain;
}

.details-section {
  width: 50%;
  height: 100%;
  padding: 20px;
  text-transform: capitalize;
}

.details-section h4 {
  margin: 5px 0px;
  font-size: 20px;
  padding: 10px 0px;
}

.details-section h2 {
  font-size: 25px;
  margin: 5px 0px;
  padding: 10px 0px;
}

.details-section h1 {
  color: red;
  font-size: 30px;
  margin: 5px 0px;
  padding: 10px 0px;
}

.details-section select {
  color: red;
  border: 2px solid rgba(0, 0, 0, 0.333);
  font-size: 20px;
  background-color: #edeaea;
  text-transform: capitalize;
  height: 40px;
  outline: none;
}

.details-section option {
  color: red;
  font-size: 20px;
  text-align: center;
  background-color: #edeaea;
  text-transform: uppercase;
}

.details-section input {
  width: 40px;
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0.333);
  outline: none;
  height: 40px;
  text-align: center;
}

.details-section button {
  display: block;
  margin-top: 10px;
  padding: 10px;
}

.details-section p {
  display: block;
  text-align: justify;
}
/* Shop Single Product Page CSS Ends............ */

/* .................Blog Page CSS Starts */
/* Blog Section Css Starts */
#blog {
  background-image: url(./home-img/b19.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  height: 250px;
}

.blog-container {
  text-align: center;
  text-transform: capitalize;
  color: white;
  letter-spacing: 1px;
}

.blog-container h1 {
  font-size: 30px;
  padding: 10px 0px;
}

.blog-container p {
  font-size: 18px;
}
/* Blog Section Css Ends */

/* Feed Section CSS Starts */
.feed-container {
  height: 1350px;
  width: 90%;
  background-color: #f1f1f1;
  margin: 50px auto;
}
.feeds {
  height: 250px;
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.blog-img {
  height: 250px;
  width: 40%;
}
.blog-img img {
  height: 100%;
  width: 90%;
  object-fit: cover;
  border-radius: 20px;
}
.blog-text {
  height: 250px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
  color: #474748;
}
.blog-text h2 {
  font-size: 20px;
  text-transform: capitalize;
}
.blog-text p {
  font-size: 16px;
}
.blog-text h3 {
  color: red;
  text-transform: capitalize;
  font-size: 18px;
}
/* Feed Section CSS Ends */
/* Blog Page CSS Ends...................... */

/* ...........Contact Page CSS Starts*/
/* Contact Section Css Starts */
#contact {
  background-image: url(./home-img/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  height: 250px;
}
.contact-banner {
  text-align: center;
  text-transform: capitalize;
  color: white;
  letter-spacing: 1px;
}
.contact-banner h1 {
  font-size: 40px;
  padding: 10px 0px;
}
/* Contact Section Css Ends */

/*contact-container CSS Starts  */
.contact-section {
  width: 100%;
  height: 320px;
  margin: 10px auto;
}
.contact-container {
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px auto;
}
.contact-text,
.map {
  width: 50%;
  height: 280px;
  text-transform: capitalize;
}
.contact-text p {
  padding: 5px 0px;
}
.contact-text p i {
  padding: 5px;
  color: #0fb1a6;
}
.contact-text h4 {
  padding: 5px 0px;
  color: red;
  font-size: 20px;
}
.contact-text h2 {
  padding: 5px 0px;
  font-size: 25px;
}
.map iframe {
  width: 100%;
  height: 100%;
}
/*contact-container CSS Ends  */

/* Form Section Css Starts */
.form-container {
  width: 100%;
  height: 520px;
}
.form-details {
  width: 90%;
  height: 500px;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  background-color: #e6e6e65f;
  border: 2px solid rgba(40, 41, 41, 0.402);
}
.form {
  width: 50%;
  height: 500px;
  display: flex;
  padding: 0px 30px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.form p {
  color: #aaa2a2;
  font-size: 16px;
  text-transform: uppercase;
}
.form input {
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 40px;
  text-align: left;
  outline: navajowhite;
  font-size: 16px;
  border-radius: 7px;
  border: 2px solid rgba(177, 175, 175, 0.435);
}
.textarea {
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 90px;
  overflow: hidden;
  text-align: left;
  outline: navajowhite;
  font-size: 16px;
  border-radius: 7px;
  border: 2px solid rgba(177, 175, 175, 0.435);
}
::placeholder {
  text-align: left;
}
/* Client Section Css Starts */
.client-box {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.client {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.client-img {
  width: 50%;
  height: auto;
  text-align: center;
}
.client-text {
  width: 50%;
  height: auto;
}
.client-text h4 {
  font-size: 20px;
  padding: 2px 0px;
  text-transform: capitalize;
}
.client-text h6 {
  font-size: 18px;
  text-transform: capitalize;
  padding: 2px 0px;
  color: #474444;
}
.client-text p a {
  font-size: 16px;
  color: #474444;
}
.client-text h4 i,
.client-text h6 i,
.client-text p i {
  color: #0fb1a6;
  padding: 2px 5px;
}
/* Client Section Css Ends */
/* Contact Page Css Ends...................*/

/* .................Cart Page CSS Starts*/
/* Cart Section Banner Starts */
#cart {
  background-image: url(./home-img/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  height: 250px;
}
.cart-banner {
  text-align: center;
  text-transform: capitalize;
  color: white;
  letter-spacing: 1px;
}

.cart-banner h1 {
  font-size: 40px;
  padding: 10px 0px;
}
/* Cart Section Banner Endss */

/* Cart Missing Section Css Starts */
.cart-login {
  width: 100%;
  height: 580px;
  margin: 10px auto;
}
.cart-missing {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 550px;
  text-transform: capitalize;
}
.cart-missing img {
  width: 50%;
  height: auto;
}
.cart-missing h1 {
  font-size: 25px;
}
.cart-missing p {
  font-size: 20px;
}
.cart-missing button a {
  font-size: 18px;
  color: black;
  cursor: pointer;
}
/* Cart Missing Section Css Ends */
